@(hello: String)
<!-- sum is defined in HomeController -->

@main("TestFunc") {
      <h1>This is a test function to display output of Scala program.</h1>
      <h3>HomeController.scala contains definitions and references of Scala classes, objects, and functions.</h3>
      <h3>Web output is defined in scala.html files in the views package (the location of this file).</h3>
      <h3>Routes and other configuration options are defined in files in the conf directory.</h3>
      <br>
      <h2>Function Output:</h2>
      <h3>@hello</h3>
}